/* GENERAL */
:root {
    --Yellow: #FFD15B;
    --Grey: #7A7A7A;
    --Black: #1B1B1B;
}

body {
    background-color: #EDEDED;
    max-width: 1440px;
    margin: auto;
}

form {
    margin: 0;
}

/* HEADER */
header {
    background-image: url("../assets/header-image/header-image.jpg");
    background-size: cover;
    background-position-y: 70%;
    height: 667px;
}

.bloc-logo {
    padding: 51px 0 169px 69px;
}

h1 {
    margin: 0;
    color:  var(--Yellow);
    text-align: center;
    font-family: Anton;
    font-size: 44px;
    font-weight: 400;
}

/* SEARCH BAR */
.bloc-search-bar {
    position: relative;
    text-align: center;
    max-width: 65%;
    margin: auto;
}

#search-bar {
    border: none;
    padding: 0;
    width: 96%;
    height: 72px;
    margin-top: 30px;
    padding-left: 35px;
    border-radius: 11px;
    color: var(--Grey);
    font-family: Manrope;
    font-size: 16px;
}

.btn-search {
    position: absolute;
    top: 40px;
    right: 10px;
    border: none;
    width: 51px;
    height: 52px;
    border-radius: 10px;
    cursor: pointer;
    background-image: url("../assets/logo/search-logo-grey.svg");
    transition: background-image 0.3s ease-in-out;
}

.btn-search:hover {
    background-image: url("../assets/logo/search-logo-yellow.svg");
}

/* MENU SELECT */

.filtres {
    height: 132px;
}

/* RECETTES */
.bloc-recettes{

}

.recette-card {
    width: 380px;
    height: 731px;
    border-radius: 21px;
    background: #FFF;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}

.recette-card-img {
    position: relative;
    width: 100%;
    height: 253px;
    border-radius: 21px 21px 0 0;
}

.img-recette {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 21px 21px 0 0;
}

.recette-time {
    position: absolute;
    top: 21px;
    right: 21px;
    color: var(--Black);
    background-color: var(--Yellow);
    border-radius: 14px;
    padding: 5px 15px;
    text-align: center;
    font-family: Manrope;
    font-size: 12px;
}

.recette-card-content {
    margin: 0 25px 0 25px;
}

.recette-title {
    font-family: Anton;
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 29px;
}

.recette-instructions-title, .recette-ingredients-title {
    color: var(--Grey);
    font-family: Manrope;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-transform: uppercase;
}

.recette-instructions {
    color: var(--Black);
    font-family: Manrope;
    font-size: 14px;
}