/* GENERAL */
:root {
    --Yellow: #FFD15B;
    --Grey: #7A7A7A;
    --Black: #1B1B1B;
}

body {
    background-color: #EDEDED;
    max-width: 1440px;
    margin: auto;
}

form {
    margin: 0;
}

/* HEADER */
header {
    background-image: url("../assets/header-image/header-image.jpg");
    background-size: cover;
    background-position-y: 70%;
    height: 667px;
}

.bloc-logo {
    padding: 51px 0 169px 69px;
}

h1 {
    margin: 0;
    color:  var(--Yellow);
    text-align: center;
    font-family: Anton;
    font-size: 44px;
    font-weight: 400;
}

/* SEARCH BAR */
.bloc-search-bar {
    position: relative;
    text-align: center;
    max-width: 65%;
    margin: auto;
}

#search-bar {
    border: none;
    padding: 0;
    width: 96%;
    height: 72px;
    margin-top: 30px;
    padding-left: 35px;
    border-radius: 11px;
    color: var(--Grey);
    font-family: Manrope;
    font-size: 16px;
}

.btn-search {
    position: absolute;
    top: 40px;
    right: 10px;
    border: none;
    width: 51px;
    height: 52px;
    border-radius: 10px;
    cursor: pointer;
    background-image: url("../assets/icons/search-logo-grey.svg");
    transition: background-image 0.3s ease-in-out;
}

.search-close-btn {
    position: absolute;
    width: 13px;
    top: 60px;
    right: 85px;
    cursor: pointer;
}

.search-close-btn-hidden {
    display: none;
}

.btn-search:hover {
    background-image: url("../assets/icons/search-logo-yellow.svg");
}

/* MENU SELECT */
main {
    max-width: 1284px;
    margin: auto;
}

.filtres {
    position: relative;
    height: 40px;
    margin: 20px 24px 20px 24px;
    display: flex;
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 50px;
    max-width: 200px;
    cursor: pointer;
    border-radius: 11px;
    background: #FFF;
    color: var(--Black);
    font-family: Manrope;
    z-index: 3;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    margin-right: 82px;
}

.dropdown-ingredients{
    top: 0;
    left: 0;
}

.dropdown-appareils{
    top: 0;
    left: 280px;
}

.dropdown-ustensils{
    top: 0;
    left: 560px;
}

.dropdown:hover, .dropdown:focus-within {
    max-height: 315px;
    .dropdown-icon {
        transform: rotate(180deg);
    }
}

.dropdown-title {
    padding: 17px 16px 0 16px;
    font-family: Manrope;
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
}

.dropdown-search-bar{
    margin-left: 16px;
    margin-right: 16px;
    font-family: Manrope;
    margin-top: 14px;
    margin-bottom: 11px;
    padding: 8px;
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: var(--Grey);
    border: #C6C6C6 1px solid;
    border-radius: 3px;
}

.dropdown-search-icon {
    height: 18px;
    position: absolute;
    top: 62px;
    right: 25px;
}

.dropdown-close-icon {
    height: 8px;
    position: absolute;
    top: 68px;
    right: 55px;
}

.dropdown-element-tag-list {
    margin-bottom: 8px;
}

.dropdown-element-tag {
    position: relative;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--Yellow);
    margin: 0;
    padding: 9px 0 9px 16px;
    border-bottom: 2px solid #FFF;
    transition: font-weight 0.3s ease-in-out;
}

.dropdown-element-tag-close-btn {
    opacity: 0;
    position: absolute;
    width: 15px;
    height: auto;
    top: 11px;
    right: 14px;
    transition: opacity 0.3s ease-in-out;
}

.dropdown-element-tag:hover {
    font-weight: 700;
    .dropdown-element-tag-close-btn {
        opacity: 1;
    }
}

.dropdown-element-list {
    padding: 0 16px 16px 16px;
}

.dropdown-element {
    font-size: 14px;
    font-weight: 400;
    margin: 13px 0 0 0;
}

.dropdown-element-hidden {
    display: none;
}

.dropdown-element:hover {
    font-weight: 700;
}

.nb-recettes {
    position: absolute;
    top: -13px;
    right: 0;
    color: var(--Black);
    font-family: Anton;
    font-size: 21px;
    font-weight: 400;
}

.tags-filter {
    margin: 0 24px 30px 24px;
}

.tags-item {
    display: inline-flex;
    padding: 17px 18px;
    margin-right: 10px;
    align-items: center;
    gap: 60px;
    border-radius: 10px;
    background: var(--Yellow);
    font-family: Manrope;
    font-size: 14px;
}

.close-tag-btn {
    cursor: pointer;
}

.tag-hidden {
    display: none;
}

/* RECETTES */
.bloc-recettes{
    display: flex;
    flex-wrap: wrap;
}

.recette-card {
    width: 380px;
    height: 731px;
    margin: 0 24px 66px 24px;
    border-radius: 21px;
    background: #FFF;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}

.recette-card-img {
    position: relative;
    width: 100%;
    height: 253px;
    border-radius: 21px 21px 0 0;
}

.img-recette {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 21px 21px 0 0;
}

.recette-time {
    position: absolute;
    top: 21px;
    right: 21px;
    color: var(--Black);
    background-color: var(--Yellow);
    border-radius: 14px;
    padding: 5px 15px;
    text-align: center;
    font-family: Manrope;
    font-size: 12px;
}

.recette-card-content {
    margin: 0 25px 0 25px;
}

.recette-title {
    font-family: Anton;
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 29px;
    text-wrap: nowrap;
    overflow: hidden;
}

.recette-instructions-title, .recette-ingredients-title {
    color: var(--Grey);
    font-family: Manrope;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.08px;
    text-transform: uppercase;
}

.recette-instructions {
    color: var(--Black);
    font-family: Manrope;
    font-size: 14px;
    margin-bottom: 0;
    max-height: 115px;
    overflow: hidden;

}

.recette-ingredients-title {
    margin: 32px 0 15px 0;
}

.recette-ingredients-bloc {
    display: flex;
    flex-wrap: wrap;
}

.recette-ingredients-item {
    width: 50%;
    
}

.recette-ingredient-item-title {
    margin: 0;
    font-family: Manrope;
    font-size: 14px;
    font-weight: 500;
}

.recette-ingredients-item-quantite{
    margin: 0 0 21px 0;
    color: var(--Grey);
    font-family: Manrope;
    font-size: 14px;
}